##
# CppProjectTools - GIT Ignore File.
#
# @author       Andy Liebke <info@andysmiles4games.com>
# @version      1.0.0 17-Jan-15
# @copyright    Copyright (c) 2015-2016 by Andy Liebke. All rights reserved. (http://andysmiles4games.com)
#

##
# Excludes OS related files.
#
.DS_Store